<!--
  Author:    Gabrielius A Kudirka
  Date:      09/01/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Gabrielius A Kudirka - This work may not be copied for use in Academic Coursework.

  I, Gabrielius A Kudirk, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

       This is the layout page for the URC website. It holds the basic layout of ever html page I create for the
    website and is where the buttons for the nav bar are located.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="Gabrielius Kudirka" />
    <meta description="Coordinator for undergraduate research at the University of Utah" />
    <title>@ViewData["Title"] - URC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-red border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/Home">
                    <img id="navbar-logo" src="~/css/images/logo2.png" alt="University of Utah logo" />
                    URC
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Opportunities" asp-action="Index">Opportunities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Opportunities" asp-action="Create">Apply</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Explore
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Opportunities" asp-action="Index">Research Opportunities</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Details">Opportunity Details</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Application">Student Application</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                TA
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Gabrielius Kudirka</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Opportunities" asp-action="List">Opportunity List</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Opportunities" asp-action="Index">Opportunities</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Opportunities_Handmade">Handmade Opportunities</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Details_Handmade">Handmade Details</a>
                            </div>
                        </li>
                        <li id="navbar-identifier" class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Account">Hello Jordan! <br /> <span>Signed in as Student</span></a>
                        </li>
                        <li id="logout" class="nav-item ml-auto">
                            <a href="/Home" class="btn btn-primary btn-sm">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - URC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
