<!--
  Author:    Gabrielius A Kudirka
  Date:      09/01/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Gabrielius A Kudirka - This work may not be copied for use in Academic Coursework.

  I, Gabrielius A Kudirk, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

       This is the details page for the URC website. This page contains the details for a specific research
    opportunity listed on the opportunities page.
-->


<body>
    <table id="details-card">
        <thead id="details-title">
            <tr>
                <th class="primary">
                    <div>
                        Protein Molecular Function Prediction
                    </div>
                </th>
                <th class="secondary"></th>
            </tr>
        </thead>
        <tbody>
            <tr id="details-info">
                <td>
                    <div>
                        <span class="identifier-text">Faculty Name:</span> Christopher Johnson
                    </div>
                    <div>
                        <span class="identifier-text">Email:</span> christopher.johnson@utah.edu
                    </div>
                    <div>
                        <span class="identifier-text">College:</span> Engineering
                    </div>
                    <div>
                        <span class="identifier-text">Department:</span> Computer Science
                    </div>
                    <br />
                    <div class="description-text">
                        <span class="identifier-text">Project Description: </span>
                        <br />
                        <p>
                            Twisted coiled polymer actuators (TCPAs) are an emergent type of thermomotive artificial muscle that have
                            recently biome-chanically surpassed human skeletal muscles (HSM). Post annealing, an increase in temperature
                            causes a twisted elastomeric fiber to untwist, but when coiled it dissipates the torsional energy through
                            up-coiling to obey the law of topological invariance. This all results in tensile contraction (TC) and Tensile
                            Stress (TS). We are trying to optimize the polymer material properties to improve action.
                        </p>
                    </div>
                    <br />
                    <div class="description-text">
                        <span class="identifier-text">Opportunity Type: </span>
                        <br />
                        <p>
                            Independent study credit; Volunteer
                        </p>
                    </div>
                    <br />
                    <div class="description-text">
                        <span class="identifier-text">Timeline: </span>
                        <br />
                        <p>
                            Fall semester 2020; Minimum 8 hours per week
                        </p>
                    </div>
                    <br />
                    <div class="description-text">
                        <span class="identifier-text">Prerequisites: </span>
                        <br />
                        <p>
                            Courses: CS 4400, CS 3100, CS 5350 <br />
                            Experience in: Machine Learning, Neural Networks, Basic Algorithms
                        </p>
                    </div>
                </td>
                <td>
                    <div>
                        <img id="details-picture" src="~/css/images/protein.jpg" alt="Protein prediction picture" />
                    </div>
                    <div id="apply-button">
                        Click Here to Apply
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

</body>
