<!--
  Author:    Gabrielius A Kudirka
  Date:      09/06/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Gabrielius A Kudirka - This work may not be copied for use in Academic Coursework.

  I, Gabrielius A Kudirk, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

       This is the home page for the opportunities website. From here users can access other parts of the URC
    website.
-->
<body>
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="0"></li>
            <li data-target="#slides" data-slide-to="0"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-caption">
                <h1 class="display-2">Undergraduate Research</h1>
                <h3>Connecting Students and Professors in Research</h3>
                <a href="/Home/Opportunities" class="btn btn-primary btn-lg">See Available Opportunies</a>
            </div>
            <div class="carousel-item active">
                <img src="~/css/images/NLP.jpg" alt="Natural language processing picture" />
            </div>
            <div class="carousel-item">
                <img src="~/css/images/ai.jpg" alt="Natural language processing picture" />
            </div>
            <div class="carousel-item">
                <img src="~/css/images/hardware.png" alt="Natural language processing picture" />
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-sm-12 col-lg-9">
                <p class="lead">As a tier one research university The University of Utah provides students and faculty the opportunity to engage in world class research</p>
            </div>
        </div>
    </div>

    <table id="learn-more">
        <tr>
            <td class="learn-more-text">
                <h2>We Work Together</h2>
                <p>
                    We consider ourselves the perfect size: big enough to have resources, small enough that we’re open to outside ideas. Collaboration is in the DNA of the
                    researchers that call Utah home, and we know that combining ingenuity with dedication can create a sum that is far grander than its parts. Working together
                    in a rich clinical environment opens extraordinary opportunities for bringing discoveries—whether basic science or population-based—toward improving the health of people.
                </p>
                <br />
                <a href="#" class=" btn btn-primary">Learn more about our research</a>
            </td>
            <td class="learn-more-img">
                <img src="~/css/images/mountains.jpg" class="img-fluid" alt="mountains" />
            </td>
        </tr>
    </table>
</body>