<!--
  Author:    Gabrielius A Kudirka
  Date:      09/01/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Gabrielius A Kudirka - This work may not be copied for use in Academic Coursework.

  I, Gabrielius A Kudirk, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

       This is for the opportunities page of the URC website. In it there is a list of several research
    opportunities that would be posted by professors that students could apply to take part in.
-->

<h1 id="title">
    <br />
    Research Opportunities
</h1>
<body>
    <br />
    <table id="opportunities-table">
        <thead class="header">
            <tr>
                <th class="name">Name</th>
                <th class="description">Description</th>
                <th class="picture"></th>
            </tr>
        </thead>
        <tbody class="rows text image-sizing">
            <tr>
                <td>
                    <div class="opportunity-name">
                        <a href="Details/">Protein Molecular Function Prediction</a>
                    </div>
                    <div>
                        <span class="identifier-text">Professor: </span> Christopher Johnson
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Tags: </span> AI, Python, Web
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Required Classes: </span> CS 3100, CS 2420
                    </div>
                </td>
                <td>
                    <div>
                        The body of functional annotations of proteins is becoming increasingly computer-readable and is being organized in ways that can enhance the scope of in silico prediction methods....
                    </div>
                </td>
                <td>
                    <img src="~/css/images/ai.jpg" alt="Artificial intelligence picture" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="opportunity-name">
                        <a href="Details/">Detecting Inflection in Natural Language Processing</a>
                    </div>
                    <div>
                        <span class="identifier-text">Professor: </span> Ellen Riloff
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Tags: </span> ML, NLP, Java
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Required Classes: </span> CS 3505, CS 5340
                    </div>
                </td>
                <td>
                    <div>
                        NLP represents the automatic handling of natural human language like speech or text, and although the concept itself is fascinating, the real value behind this technology comes from the use cases....
                    </div>
                </td>
                <td>
                    <img src="~/css/images/NLP.jpg" alt="Natural language processing picture" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="opportunity-name">
                        <a href="Details/">Augmented Reality in Video Games</a>
                    </div>
                    <div>
                        <span class="identifier-text">Professor: </span> R. Michael Young
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Tags: </span> Visualization, AR
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Required Classes: </span> CS 3600, CS 4600, CS3505
                    </div>
                </td>
                <td>
                    <div>
                        Augmented reality (AR) has emerged as a relevant interactive
                        technology in the marketing environment, increasingly used in
                        retail contexts and often developed in formats of smart device
                        applications...
                    </div>
                </td>
                <td>
                    <img src="~/css/images/videogame.jpg" alt="video games picture" />
                </td>
            </tr>

            <tr>
                <td>
                    <div class="opportunity-name">
                        <a href="Details/">Automated Emotion Detection and Analysis</a>
                    </div>
                    <div>
                        <span class="identifier-text">Professor: </span> Tucker Hermans
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Tags: </span> ML, Neural Networks, C#
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Required Classes: </span> CS 4480, CS 5320
                    </div>
                </td>
                <td>
                    <div>
                        Emotion recognition is the process of identifying human emotion. People vary widely in their accuracy at recognizing the emotions of others. Use of technology to help people with emotion recognition is a relatively nascent research area....
                    </div>
                </td>
                <td>
                    <img src="~/css/images/brain-comp.jpg" alt="Machine learning picture" />
                </td>
            </tr>

            <tr>
                <td>
                    <div class="opportunity-name">
                        <a href="Details/">Microchip Architecture Design</a>
                    </div>
                    <div>
                        <span class="identifier-text">Professor: </span> Erik Brunvand
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Tags: </span> Hardware, Systems, C
                    </div>
                    <div class="tags">
                        <span class="identifier-text">Required Classes: </span> CS 4400, CS 3810, CS 3710
                    </div>
                </td>
                <td>
                    <div>
                        We are trying to develop a new computer chip that promises to boost the performance of data centers that lie at the core of numerous online services such as email and social media....
                    </div>
                </td>
                <td>
                    <img src="~/css/images/hardware.png" alt="Computer systems picture" />
                </td>
            </tr>
        </tbody>
    </table>
</body>
